In [5]:
#import google drive files
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [12]:
#display data
import pandas as pd
data = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/BreastCancerPrediction_PR/breast-cancer-wisconsin.csv")
data.head()

    Column1 Column2  Column3  Column4  ...  Column29  Column30  Column31  Column32
0    842302       M    17.99    10.38  ...    0.7119    0.2654    0.4601   0.11890
1    842517       M    20.57    17.77  ...    0.2416    0.1860    0.2750   0.08902
2  84300903       M    19.69    21.25  ...    0.4504    0.2430    0.3613   0.08758
3  84348301       M    11.42    20.38  ...    0.6869    0.2575    0.6638   0.17300
4  84358402       M    20.29    14.34  ...    0.4000    0.1625    0.2364   0.07678

[5 rows x 32 columns]

In [33]:
#check missing values in data set
data.columns[data.isnull().any()]

Index([], dtype='object')

In [16]:
from sklearn.model_selection import train_test_split
y=data.iloc[:, 1]
y.head()

0    M
1    M
2    M
3    M
4    M
Name: Column2, dtype: object

In [17]:
x = data.drop(data.columns[[0, 1]], axis=1)
x.head()

   Column3  Column4  Column5  Column6  ...  Column29  Column30  Column31  Column32
0    17.99    10.38   122.80   1001.0  ...    0.7119    0.2654    0.4601   0.11890
1    20.57    17.77   132.90   1326.0  ...    0.2416    0.1860    0.2750   0.08902
2    19.69    21.25   130.00   1203.0  ...    0.4504    0.2430    0.3613   0.08758
3    11.42    20.38    77.58    386.1  ...    0.6869    0.2575    0.6638   0.17300
4    20.29    14.34   135.10   1297.0  ...    0.4000    0.1625    0.2364   0.07678

[5 rows x 30 columns]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.349, random_state=1)

In [19]:
x_train.head()

     Column3  Column4  Column5  Column6  ...  Column29  Column30  Column31  Column32
93     13.45    18.30    86.60    555.1  ...    0.1381   0.07911    0.2678   0.06603
479    16.25    19.51   109.80    815.8  ...    0.5897   0.17750    0.3318   0.09136
81     13.34    15.86    86.49    520.0  ...    0.4858   0.17080    0.3527   0.10160
385    14.60    23.29    93.97    664.7  ...    0.2675   0.13590    0.2477   0.06836
440    10.97    17.20    71.73    371.5  ...    0.4779   0.15550    0.2540   0.09532

[5 rows x 30 columns]

In [20]:
y_train.head()

93     B
479    M
81     B
385    M
440    B
Name: Column2, dtype: object

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
logModel= LogisticRegression()

In [23]:
logModel.fit(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
predictions = logModel.predict(x_test)

In [25]:
print(predictions)

['B' 'M' 'B' 'M' 'M' 'M' 'M' 'M' 'B' 'B' 'B' 'M' 'M' 'B' 'B' 'B' 'B' 'B'
 'B' 'M' 'B' 'B' 'M' 'B' 'M' 'B' 'B' 'M' 'M' 'M' 'M' 'B' 'M' 'M' 'B' 'B'
 'M' 'B' 'M' 'B' 'B' 'B' 'B' 'B' 'B' 'M' 'B' 'B' 'B' 'M' 'M' 'M' 'B' 'B'
 'B' 'B' 'B' 'M' 'B' 'B' 'B' 'M' 'B' 'M' 'B' 'B' 'B' 'M' 'B' 'B' 'B' 'B'
 'B' 'M' 'B' 'M' 'B' 'B' 'B' 'M' 'B' 'M' 'B' 'M' 'B' 'B' 'M' 'B' 'M' 'B'
 'B' 'M' 'B' 'B' 'M' 'M' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B'
 'M' 'M' 'B' 'B' 'M' 'B' 'M' 'M' 'B' 'B' 'B' 'B' 'B' 'M' 'M' 'B' 'B' 'M'
 'M' 'M' 'M' 'M' 'B' 'B' 'B' 'M' 'B' 'M' 'M' 'B' 'B' 'M' 'M' 'M' 'B' 'M'
 'B' 'M' 'B' 'B' 'B' 'M' 'B' 'B' 'M' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B' 'B'
 'M' 'M' 'B' 'B' 'M' 'M' 'M' 'B' 'B' 'B' 'B' 'M' 'B' 'B' 'B' 'B' 'B' 'B'
 'B' 'B' 'B' 'B' 'B' 'M' 'M' 'B' 'M' 'B' 'B' 'B' 'M' 'M' 'M' 'B' 'B' 'M'
 'M']

In [ ]:

p = pd.DataFrame(predictions, columns=['predictions']).to_csv('/content/gdrive/My Drive/Colab Notebooks/prediction_new_10.csv')
#open('/content/gdrive/My Drive/Colab Notebooks/predictions.txt', 'wb').write(results)

In [ ]:
from google.colab import files
files.download('/content/gdrive/My Drive/Colab Notebooks/prediction_new_10.csv')

In [26]:
from sklearn.metrics import classification_report

In [28]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           B       0.96      0.94      0.95       129\n           M       0.89      0.93      0.91        70\n\n    accuracy                           0.93       199\n   macro avg       0.93      0.93      0.93       199\nweighted avg       0.94      0.93      0.93       199\n'

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
confusion_matrix(y_test,predictions)

array([[121,   8],
       [  5,  65]])

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test,predictions)

0.9346733668341709